*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  interpolate-size: allow-keywords;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

input {
  font-family: inherit;
}
